{% extends '@SubspaceCustomerBundle/Resources/views/FrontEnd/default.html.twig' %}

{% block title %}Forgotten Password{% endblock %}

{% block mainContainer %}
<!-- Forgotten Password Content -->
  <div class="login-container user-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 form-back">

					<form class="form-horizontal form-margin">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="input-group">
                <input type="email" class="form-control" name="login-email" placeholder="Enter your Email Address" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
						<div class="form-underline"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-main">Request Reset Link</button>
            </div>
          </form>
					<div class="login-link"><a href="signup.php">Don't have an Account?</a></div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
<!-- /.Forgotten Password Content -->
{% endblock %}
