{% extends '@SubspaceCustomerBundle/Resources/views/FrontEnd/default.html.twig' %}

{% block title %}Locations{% endblock %}

{% block mainContainer %}
<!--- SRT Loading all spaces -->
{% for item in spaces %}
	<li>
		<div>
			<div><a href="#">{{ item.name }}</a></div>
			<div>{{ item.description }}</div>
		</div>
	</li>
{% endfor %}
<!--- END Loading all spaces -->

{% endblock %}