{% extends '@SubspaceCustomerBundle/Resources/views/FrontEnd/default.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block mainContainer %}
<!-- Sign Up Content -->
  <div class="sign-up-container user-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 form-back">
          <form class="form-horizontal form-margin">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
              <div class="input-group">
                <input type="text" class="form-control" name="reg-firstname" placeholder="Enter your First Name" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
						<div class="form-underline"></div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
              <div class="input-group">
                <input type="text" class="form-control"name="reg-lastname" placeholder="Enter your Last Name" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
						<div class="form-underline"></div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="input-group">
                <input type="email" class="form-control" name="reg-email" placeholder="Enter your Email" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
						<div class="form-underline"></div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
              <div class="input-group">
                <input type="password" class="form-control" name="reg-password" placeholder="Enter a Password" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
						<div class="form-underline"></div>
            <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked>I would like to recieve promotions and updates via email about Subspace and it's partners
                  </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-main">Create Account</button>
            </div>
          </form>
					<div class="login-link"><a href="login.php">Already have an Account?</a></div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
<!-- /.Sign Up Content -->
{% endblock %}
